:root {
    --sd-color-primary: #f37726;
    --sd-color-primary-highlight: #da864e;
    --sd-color-secondary: #267bf3;
    --sd-color-secondary-highlight: #4e88da;
}

.bg-jb-one {
    background-color: #52d16f3b;
}

.bg-jb-two {
    background-color: #e7dd7b73;
}

.bg-jb-three {
    background-color: #e7b07b96;
}

/* custom.css */

/* Example styles for left sidebar */
.sidebar {
    background-color: #f0f0f0; /* Set background color */
    padding: 20px; /* Add padding to content */
}

/* Style links in the sidebar */
.sidebar a {
    color: #007bff; /* Set link color */
}

/* Customize sidebar header */
.sidebar .header {
    font-size: 1.2em; /* Adjust font size */
    font-weight: bold; /* Make it bold */
}
